@import "_global";
@mixin link-panel-transition {
    -webkit-transition: all $link-panel_transition-time ease-in-out;
    -moz-transition: all $link-panel_transition-time ease-in-out;
    -ms-transition: all $link-panel_transition-time ease-in-out;
    transition: all $link-panel_transition-time ease-in-out;
}

@keyframes minecraftTextPulsating {
    from {
        font-size: 20px;
    }
    to {
        font-size: 22px;
    }
}