/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */

$highlight_bg-color: #eee;
$default_border-color: #bbb;
$highlight-dark-grey: #333;
$bg-color: rgb(255, 255, 255);
$game-collection-search-bar_border-color: #00aeff86;

$link-panel_shadow-color: #00aeff86;

$table-th_bg-color: #24292f;

//$game-collection-search-bar_border-color: #00aeff86;

/* ------------------------- Minecraft color palete ------------------------- */
$colors: (
    c-1: #BE0000,
    c-2: #FE3F3F,
    c-3: #D9A334,
    c-4: #FEFE3F,
    c-5: #00BE00,
    c-6: #3FFE3F,
    c-7: #00BEBE,
    c-8: #0000BE,
    c-9: #3F3FFE,
    c-a: #FE3FFE,
    c-b: #BE00BE,
    c-c: #FFFFFF,
    c-d: #BEBEBE,
    c-e: #3F3F3F,
    c-f: #000000,
);
/* -------------------------------------------------------------------------- */





/* -------------------------------------------------------------------------- */
/*                            Width, height & sizes                           */
/* -------------------------------------------------------------------------- */

$clear-sizes: 16px, 32px, 64px, 96px, 128px, 256px 512px;
$ttiki-icon_wah: 128px;

$game-collection-search-bar_radius: 4px; 
$game-collection-search-bar_font-size: 28px;
$game-collection-search-bar_padding: 12px 24px;
$game-collection-search-bar_border-size: 1px;
$game-collection-search-bar_shadow-spread: 4px;
$game-collection-search-bar_shadow-blur: 4px;

$licence-font-size: 12px;

/* ------------------------ Big Ttitle letter spacing ----------------------- */
$default-spacing:0.1em;
$hover-spacing:0.25em;


/* ------------------------------ link-panel ------------------------------ */
$link-panel_shadow-size: 3px;
$panel-link_wdith: 300px;
$panel-link_height: 150px;
$panel-link_wdith-hover: 350px;
$panel-link_height-hover: 200px;
/* -------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------- */
/*                                MISCELLANEOUS                               */
/* -------------------------------------------------------------------------- */
$link-panel_transition-time: .3s;
$link-panel_resize: 1.25;
$default_border-radius: 7px;
$nb-item-game-grid: 5;