body {
  width: 200%;
}

html {
  scroll-behavior: smooth;
  background: black;
}

header {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  margin: 100px auto 0;
}

#ttiki-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.title-difference {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-difference h1, .title-difference h2, .title-difference h3, .title-difference h4, .title-difference h5, .title-difference h6, .title-difference p {
  font-family: sans-serif;
  mix-blend-mode: difference;
  color: #fff;
  word-break: break-all;
  margin: 12px;
}

/* -ms-overflow-style: none;  /* IE and Edge */
/* scrollbar-width: none;  Firefox */
/* }

body::-webkit-scrollbar {
display: none;
} */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#bg-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#centerpart-index {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

#rightpart-sn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 0;
  overflow: hidden;
  background-image: url("../resources/media/img/backgrounds/concrete-slab-background.png");
  background-position: center;
  background-size: auto;
}

.index-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 100%;
  width: 75px;
  font-size: 18px;
  text-align: center;
  margin: auto;
  background-color: #27272770;
  text-decoration: none;
  z-index: 10;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 0px 50px 14px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 50px 14px rgba(0, 0, 0, 0.7);
}

.left-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.right-link {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.bottom-link {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

nav {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  position: absolute;
  -ms-grid-columns: 0.2fr 1.8fr 1.8fr 0.2fr;
      grid-template-columns: 0.2fr 1.8fr 1.8fr 0.2fr;
  -ms-grid-rows: 1fr 1.7fr 0.3fr;
      grid-template-rows: 1fr 1.7fr 0.3fr;
  gap: 0px 0px;
      grid-template-areas: "left-link void void right-link" "left-link void void right-link" "left-link bottom-link bottom-link right-link";
}

nav .grid-index-nav-links {
  height: 100%;
  width: 100%;
}

nav .grid-left-link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: left-link;
}

nav .grid-right-link {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  grid-area: right-link;
}

nav .grid-bottom-link {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bottom-link;
}

.void {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: void;
}

.link-arrow {
  width: 100%;
  font-size: 32px;
}
/*# sourceMappingURL=index.css.map */