@import "_global";

body{
    width: 200%;
}

html{
    scroll-behavior:smooth;
    background: rgb(0, 0, 0);
}

header{
    
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    margin: 100px auto 0;
}

#ttiki-logo{
    width: $logo-size;
    height: $logo-size;
    border-radius: $logo-borderRadius;
}

.title-difference{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    h1, h2, h3, h4, h5, h6, p{
        font-family: sans-serif;
        mix-blend-mode: difference;
        color: #fff;
        word-break: break-all;
        margin: 12px;
    }
}

/* -ms-overflow-style: none;  /* IE and Edge */
/* scrollbar-width: none;  Firefox */
/* }

body::-webkit-scrollbar {
display: none;
} */ 

#bg-video{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#bg-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: hidden;    
} 

#centerpart-index{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

#rightpart-sn{
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    
    background-image: url("../resources/media/img/backgrounds/concrete-slab-background.png");
    background-position: center;
    background-size: auto;
}

.index-nav-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: $index-nav-links_width;
    font-size: $index-nav-links_fontSize;
    text-align: center;
    margin: auto;
    background-color: $index-navlink-bgcolor;
    text-decoration: none;
    z-index: 10;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.7); 
    box-shadow: inset 0px 0px 50px 14px rgba(0,0,0,0.7);
}

.left-link{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.right-link{
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.bottom-link{
    
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

nav{
    z-index: 1;
    height:100%;
    width: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 0.2fr 1.8fr 1.8fr 0.2fr;
    grid-template-rows: 1fr 1.7fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
    "left-link void void right-link"
    "left-link void void right-link"
    "left-link bottom-link bottom-link right-link";

    .grid-index-nav-links{
        height: 100%;
        width: 100%;
    }
    .grid-left-link{
        grid-area: left-link;
       
    }
    .grid-right-link{
        grid-area: right-link; 
        
    }
    
    .grid-bottom-link{
        grid-area: bottom-link;
    }
}

.void { grid-area: void; }

.link-arrow{
    width: 100%;
    font-size: 32px;
}