@import "_global";
.search-bar-header {
    width: 80%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    #library-title {
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
}