@import "_global";

#main-library{
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat($nb-item-game-grid, 1fr);
    grid-gap: 4px;
}

#library-title{
    font-size: 48px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-family: "Roboto", "Open Sans Condensed", sans-serif;
}

.search-bar-header{
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 50px;
}

#bg-body{
    margin-top: -50px;
    padding-top: 25px;
    width: 100%;
    height: 100vh;
    
    position: relative;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-image: url('https://picsum.photos/1920/1080');
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-licence{
    display: inline-block;
    background-color: $highlight_bg-color;
    color: $highlight-dark-grey;
    border-radius: 4px;
    border:1px solid $default_border-color;
}