@import "_global";

body{
    height: 100%;
    background-image: url('https://picsum.photos/1920/1080');
    background-repeat: no-repeat;
    background-size: cover;
}

#main-library{
    width: 85%;
    margin: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat($nb-item-game-grid, 1fr);
    grid-gap: 4px;
}

#library-title{
    font-size: 48px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer{
    clear: both;
	position: fixed;
    top: auto;
    bottom: 0;
    display:inline-block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    font-family: sans-serif;

    #footer-licences{
        width: 100%;
        padding: 2px;
        position: relative;
        bottom: 0;
        font-size: 16px;
        text-align: center;
        
    }
}

