//Default font
$font-default: 'Roboto', sans-serif;
$font-default-weight : 400;
$font-title-weight : 500;
$font-bigtitle-weight : 700;
$font-emphasis: 'Roboto Condensed', sans-serif;

/* -------------------------------------------------------------------------- */


/*                                MISCELLANEOUS                               */


/* -------------------------------------------------------------------------- */
$symbols: ( home: "🏠",
wrench: "🛠",
games: "🎮",
book: "📕",
movies: "🎥",
books: "📚",
warning: "⚠️",
nuclear: "☢️",
biological: "☣️",
forbiden: "🚫",
forbiden2: "⛔",
question: "❓",
internet: "🌐",
clipboard: "📋",
heart: "❤",
money: "💲",
money-bag: "💰",
me: "🙋‍♂️",
format:"📎");


img::before {
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    background-image: url('../res/media/img/nomediaavailable.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

// .fr-only::before {
//     content: "";
//     display: inline-block;
//     background: url('../resources/media/img/icons/flags/fr.gif') no-repeat bottom;
//     width: 25px;
//     height: 20px;
//     margin: 0;
// }

// .eng-only::before {
//     content: "";
//     content: "";
//     display: inline-block;
//     background: url('../resources/media/img/icons/flags/gb.gif') no-repeat bottom;
//     width: 25px;
//     height: 20px;
//     margin: 0;
// }

// .mixed-fr_gb::before {
//     content: "";
//     display: inline-block;
//     background: url('../resources/media/img/icons/flags/mixed-fr_gb.gif') no-repeat bottom;
//     width: 25px;
//     height: 20px;
//     margin: 0;
// }

@each $key,
$val in $symbols {
    .icon-#{$key}::before {
        content: $val;
        display: inline-block;
        width: 25px;
        height: 20px;
        margin: 0;
        font-weight: normal;
    }
}